<!-- main app container -->

<div class="nav">
  <ul>
    <li>
      <button [routerLink]="['/art']" routerLinkActive="active nav-item-business">
        Art
      </button>
    </li>
    <li>
      <button [routerLink]="['/business']" routerLinkActive="active nav-item-business">
        Business
      </button>
    </li>
    <li>
      <button [routerLink]="['/education']" routerLinkActive="active nav-item-business">
        Education
      </button>
    </li>
    <li>
      <button [routerLink]="['/lifestyle']" routerLinkActive="active nav-item-business">
        Lifestyle
      </button>
    </li>
    <li>
      <button [routerLink]="['/politics']" routerLinkActive="active nav-item-business">
        Politics
      </button>
    </li>
    <li>
      <button [routerLink]="['/science']" routerLinkActive="active nav-item-business">
        Science
      </button>
    </li>
    <li>
      <button [routerLink]="['/sports']" routerLinkActive="active nav-item-business">
        Sports
      </button>
    </li>
    <li>
      <button [routerLink]="['/tech']" routerLinkActive="active nav-item-business">
        Tech
      </button>
    </li>
  </ul>
</div>

<div class="container-fluid">
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="popilog-logo" href="#">
          <img alt="Popilog" src="../assets/img/popilog-logo.png">
        </a>
      </div>
    </div>
  </div>
  <div class="container content">
    <div class="row">
      <alert></alert>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
